<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Ayden's Corner</title>
</head>
<header>
    <!-- login authentication / create account form -->
    <nav class="header">
        <ul>
           <li><a href="/login">Login</a> |</li> 
           <li><a href="/signup">Create Account</a>  </li> 
        </ul>   
      </nav>
</header>
<body>

  <!-- Logo -->
  <div class="ayden">
    <h2 class="rotate">Ayden's</h2>
    <h2>Corner</h2>
  </div>
    <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade-panda">
      <div class="numbertext">1 / 12</div>
       <!-- click img for animal sound class -->
      <img src="/public/img/panda.jpeg" style="width:100%">
     <!-- change text to speech "PANDA" -->
      <div class="speech"><h1 id="speak" >PANDA</h1></div>
    </div>
  
    <div class="mySlides fade-bear">
      <div class="numbertext">2 / 12</div>
      <img src="/public/img/bear.jpeg" style="width:100%">
        <!-- change text to speech "BEAR" -->
      <div class="speech"><h1 id="speak">BEAR</h1></div>
    </div>
  
    <div class="mySlides fade-fox">
      <div class="numbertext">3 / 12</div>
      <!-- click img for animal sound class -->
      <img src="/public/img/fox.jpeg" style="width:100%">
        <!-- change text to speech "FOX" -->
      <div class="speech"><h1 id="speak">FOX</h1></div>
    </div>
    <div class="mySlides fade-frog">
        <div class="numbertext">4 / 12</div>
        <!-- click img for animal sound class -->
        <img src="img1.jpg" style="width:100%">
          <!-- change text to speech "FROG" -->
        <div class="speech"><h1 id="speak">FROG</h1></div>
      </div>
    
      <div class="mySlides fade-lamb">
        <div class="numbertext">5 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/lamb.jpeg" style="width:100%">
          <!-- change text to speech "LAMB" -->
        <div class="speech"><h1 id="speak">LAMB</h1></div>
      </div>
    
      <div class="mySlides fade-monkey">
        <div class="numbertext">6 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/monkey.jpeg" style="width:100%">
          <!-- change text to speech "MONKEY" -->
        <div class="speech"><h1 id="speak">MONKEY</h1></div>
      </div>
      <div class="mySlides fade-owl">
        <div class="numbertext">7 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/owl.jpeg" style="width:100%">
          <!-- change text to speech "OWL" -->
        <div class="speech"><h1 id="speak">OWL</h1></div>
      </div>
    
      <div class="mySlides fade-tiger">
        <div class="numbertext">8 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/tiger.jpeg" style="width:100%">
          <!-- change text to speech "TIGER" -->
        <div class="speech"><h1 id="speak">TIGER</h1></div>
      </div>
    
      <div class="mySlides fade-zebra">
        <div class="numbertext">9 /12 </div>
        <!-- click img for animal sound class -->
        <img src="/public/img/zebra" style="width:100%">
          <!-- change text to speech "ZEBRA" -->
        <div class="speech"><h1 id="speak">ZEBRA</h1></div>
      </div>
      <div class="mySlides fade-giraffe">
        <div class="numbertext">10 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/giraffe.jpeg" style="width:100%">
        <!-- change text to speech "GIRAFFE" -->
        <div class="speech"><h1 id="speak">GIRAFFE</h1></div>
      </div>
    
      <div class="mySlides fade-koala">
        <div class="numbertext">11 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/koala.jpeg" style="width:100%">
         <!-- change text to speech "KOALA" -->
        <div class="speech"><h1 id="speak">KOALA</h1></div>
      </div>
    
      <div class="mySlides fade-rabbit">
        <div class="numbertext">12 / 12</div>
        <!-- click img for animal sound class -->
        <img src="/public/img/rabbit.jpeg" style="width:100%">
         <!-- change text to speech "RABBIT" -->
        <div class="speech"><h1 id="speak">RABBIT</h1></div>
      </div>
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div class="dotAlign">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
    <span class="dot" onclick="currentSlide(11)"></span>
    <span class="dot" onclick="currentSlide(12)"></span>
  </div>
  <br>
  <br>
  <br>
  <br>
<footer class="footer">
    <nav>
        <ul class="footerNav">
           <li><a href="/html/">HOME</a> |</li> 
           <li><a href="/css/">GAMES</a> | </li> 
           <li><a href="/js/">FORUM</a> | </li> 
        </ul>   
      </nav>
</footer>
  <script src="main.js"></script>
</body>
</html>

<!-- add bilingual conditionals
add drop down menu for Spanish option on signup
add flip eventlistener for spanish translation card
add second api for spanish text to speech
add eventlistener for animal sounds on both sides 
add card matching game and tetris colors game
add forum page  -->

